@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: 255 255 255;
}

html[dir="rtl"]{
  direction: rtl;
}

/* small accessibility helpers */
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}

body.dark{
  background-color: #0f172a;
}
